 body {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 15px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 10px 0;
        text-align: center;
      }


      /* Supporting marketing content */
      .marketing {
        margin: 10px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      /*background*/
      { 
      background: url(https://s3.amazonaws.com/hunterowens/img/nasty_fabric.png) repeat 0 0;
      }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', Georgia, Times, serif;
}
p, div {
    font-family: 'Goudy Bookletter 1911', Helvetica, Arial, sans-serif;
}
