<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="css/syntax.css">


        <!-- Custom CSS -->
        <link rel="sylesheet" href="css/bootstrap.css">
        <link rel="sylesheet" href="css/custom.css">


    </head>
      <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="./index.html">Home</a></li>
          <li><a href="https://www.dropbox.com/s/g75h3ban5chh962/HOwensResume3-8-13.pdf">Resume</a></li>
          <li><a href="./blog.html">Blog</a></li>
          <li class="active"><a href="./contact.html">Contact</a></li>
        </ul>
        <h3 class="muted">Hunter Owens</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <img src="img/ChiPierce.jpg">
      </div>


                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Hunter Owens<br />
                  Student, Data Nerd<br />
                  owens.hunter@gmail.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/yourusername/">github.com/hunterowens</a><br />
                  <a href="http://twitter.com/yourusername/">twitter.com/hunter_owens</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
